/* Styles for the block editor content canvas only */
.editor-styles-wrapper .wp-block {
	max-width: 1440px !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.wp-block {
	max-width: 1440px !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
