.password-protected-form-wrapper {
    // max-width: 500px;
    margin: 144px 2rem;
    
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 2rem;
    max-width: 100%;
    // @media(min-width: $sm-breakpoint) {
    @media(min-width: $md-breakpoint) {
        margin: 240px auto;
        max-width: 500px;
    }
    // Add your styles here
  }
  
  .password-form-fields {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    label {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 0px;
    }
    // etc.
    input[type="password"] {
        // width: 100%;
        max-width: 100%;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: #000;
        color: white;
        box-shadow: none;
        cursor: pointer;
        &:hover {
            background-color: #ccc;
            color: black;
            border: 1px solid black;
            border-radius: 5px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
        }
    }
    
  }

  .password-form-error {
    background: red;
    color: white;
    font-size: 0.8em;
    padding: 4px 8px;
    border-radius: 6px;
    margin-bottom: 10px;
    p {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }
}